[submodule "addons/spring-bridge"]
	path = addons/spring-bridge
	url = https://github.com/seedstack/spring-bridge-addon.git
	branch = docs
[submodule "addons/elasticsearch"]
	path = addons/elasticsearch
	url = https://github.com/seedstack/elasticsearch-addon.git
	branch = docs
[submodule "addons/javamail"]
	path = addons/javamail
	url = https://github.com/seedstack/javamail-addon.git
	branch = docs
[submodule "addons/jcache"]
	path = addons/jcache
	url = https://github.com/seedstack/jcache-addon.git
	branch = docs
